@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    font-primary: "Open Sans", sans-serif;
    font-public-sans: "public sans", sans-serif;
    font-secondary: "Roboto", sans-serif;
}
 
@theme{
    --color-DarkBlack:#181818;
    --color-dark:#0F0F0F;
}

:root {
  --color-DarkBlack: #181818;
  --color-dark: #0F0F0F;
}