@import "tailwindcss";

:root {
  --color-DarkBlack: #181818;
  --color-dark: #0F0F0F;
  --color-comment: #2B2A3C;
  --color-divider: #E0E0E0;
}

@import "swiper/css";
@import "swiper/css/navigation";
